</div>
<footer class="footer">
  <ul>
    <li><i class="far fa-copyright"></i> Aanchal</li>
    <li><a href="https://www.linkedin.com/in/aanchal-jain-328a4016b/"><i class="fab fa-linkedin fa-lg"></i></a></li>
    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg"></i></a></li>
    <li><a href="https://github.com/Aanchal112"><i class="fab fa-github fa-lg"></i></a></li>
  </ul>
</footer>

</body>
</html>